{% extends 'base.html' %}

{% block title %}Machines - ActuHub{% endblock %}

{% block content %}
    <h2 class="my-4">Machines</h2>
    <a href="{% url 'machine_add' %}" class="btn btn-success">Add machine</a>

    <div class="machine-list">
        {% for machine in machines %}
            <div class="machine-item">
                <h5 class="machine-title">
                    <a href="{% url 'machine_detail' pk=machine.pk %}">{{ machine.name|default:"Unnamed Machine" }}</a>
                </h5>
                {% if machine.ec2_instance_ip %}
                    <p class="machine-ip">IP: {{ machine.ec2_instance_ip }}</p>
                {% endif %}
                {% if machine.username %}
                    <p class="machine-details">Username: {{ machine.username }}</p>
                {% endif %}
                {% if machine.private_key_path %}
                    <p class="machine-key">Key Path: {{ machine.private_key_path }}</p>
                {% endif %}
            </div>
        {% empty %}
            <p>No machines available.</p>
        {% endfor %}
    </div>
{% endblock %}
